/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .edit-post-sidebar * {
    font-size: 1rem;
    font-family: "Roboto",sans-serif;
 }

 .edit-post-sidebar a {
    color: #2271b1;
 }

 .interface-complementary-area h3 {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 500;
    color: #1e1e1e;
    margin-bottom: 1.5em;
}
.interface-complementary-area h2 {
   font-size: 1rem;
}
.components-text-control__input[type=number],
.components-text-control__input[type=text] {
   font-size: 1rem;
}
.wp-core-ui select {
   font-size: 1rem !important;
}

/*======= CMB2 POST FIELDS ========*/

/* Image icon with rest */
#dme_posts_metabox_fields .postbox-header {
   padding: 16px 0px 16px 16px;
}

#dme_posts_metabox_fields .postbox-header .hndle.ui-sortable-handle {
   padding: 0;
   font-weight: 500;
   font-size: 1rem;
}

#dme_posts_metabox_fields .postbox-header .handle-order-higher,
#dme_posts_metabox_fields .postbox-header .handle-order-lower {
   display: none;
}